.Rproj.user
.Rhistory
.RData
Neliohinnat.Rproj
.DS_Store
postinumerot 20140217.kml
pnro-choropleth
json_2015/predictions
json_2016/predictions/*
json_2016/predictions
json_2016/predictions/*
temp
temp_pnro_shape

*.xls
*.html
s*.rds

data_2016/*
!data_2016/d.rds
!data_2016/pnro_data_20160215.RData

data_2017/*
!data_2017/d.rds
!data_2017/pnro_data_20170405.RData

update_2021/json/predictions
update_2021/json/predictions/*
update_2021/data/*
!update_2021/data/pnro_polygons_raw.RData
!update_2021/data/pnro_data_20210128.RData
!update_2021/data/d_20210128.rds


update_2021/source/alternative_model.R