.Rproj.user
.Rhistory
.RData
Neliohinnat.Rproj
.DS_Store
postinumerot 20140217.kml
pnro-choropleth
json_2015/predictions
json_2016/predictions/*
json_2016/predictions
json_2016/predictions/*
temp
temp_pnro_shape

*.xls
*.html
s*.rds
